.desktop-header, .mobile-header {
  padding: 0 !important;
  .logo-container {
    padding: 5px 0 !important;
    .logo-title {
      line-height: 100%;
      margin: 0;
      font-size: 2.5em;
      cursor: pointer;
    }
  }
  .menu {
    padding: 0 !important;
    background-color: #161717 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
    .menu-right-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    .menu-right {
      padding: 0 1em;
      color: white;
      cursor: pointer;
    }
  }
  .buffer-menu {
    margin-top: 0 !important;
    box-shadow: none !important;
  }
}

.header-container {
  .desktop-header-container {
    display: block;
  }
  .mobile-header-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header-container {
    .desktop-header-container {
      display: none;
    }
    .mobile-header-container {
      display: block;
    }
  }
}