.article-container {
  box-shadow: inset -8px -4px 8px rgba(0, 0, 0, 0.25), inset 8px 4px 4px rgba(44, 44, 44, 0.6);
  border-radius: 12px;
  padding: 1em;
  margin-bottom: 3em;
  .image-container {
    margin-bottom: 1em;
    .image {
      height: 150px !important;
    }
  }
  .info-container {
    padding: 0 0.5em;
    .title {
      font-weight: bold;
      font-size: 1.25em;
      margin-bottom: 1em;
      display: flex;
    }
    .post-info {
      display: flex;
      color: #E5E5E5;
      margin-bottom: 1em;
      .publish-date {
        flex: 1;
        font-size: 0.95em;
      }
      .reading-time {
        flex: 1;
        text-align: right;
        font-size: 0.95em;
      }
    }
    .description {
      margin-bottom: 1em;
      .content-para {
        margin-bottom: 0.5em;
      }
    }
  }
  .view-more {
    padding: 0.5em;
  }
}