.footer-container {
  padding: 2em 0 !important;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5) !important;
  .info-container {
    .logo-container {
      display: flex;
      margin-bottom: 1em;
    }
    .mail-to, .copyright {
      margin-bottom: 0.5em;
      text-align: center;
      display: block;
    }
  }
  .footer-menu-link {
    color: white;
    display: block;
    margin-bottom: 1em;
  }
  .social-media-icons {
    text-align: center;
    padding-top: 1em;
    .menu-right {
      padding: 0 1em;
      color: white;
      cursor: pointer;
    }
  }
}