.profile-slider {
  width: 100%;
  height: 35em !important;
}

.profile-details-container {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  .short-desc {
    margin-bottom: 1em;
  }
  .social-icon {
    color: white;
    font-size: 1.5em !important;
    margin-right: 0.75em;
  }
}

.profile-component-container {
  &:nth-child(even) {
    background-color: #1C1D1D;
    color: white;
    padding: 2em 0;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  }
}

.profile-container {
  margin-bottom: 2em;
  .component-title {
    color: white;
    font-family: $heading-font-family !important;
  }
}

.achievements-conatiner {
  background: #161717;
  box-shadow: inset 2px 2px 2px rgba(255, 250, 250, 0.25), inset -2px -2px 2px #000000;
  border-radius: 2em;
  padding: 2em;
}

.qa-component {
  width: 100%;
  border-bottom: 1px solid white;
  .question-container {
    width: 100%;
    display: flex;
    padding-bottom: 2em;
    padding-top: 2em;
    cursor: pointer;
    .question {
      flex: 1;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
  .answer-container {
    padding: 1em;
    padding-left: 0;
    padding-bottom: 2em;
  }
}

.detailed-milestone-container {
  background: #161717;
  box-shadow: inset 2px 2px 2px rgba(255, 250, 250, 0.25), inset -2px -2px 2px #000000;
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
  .content {
    .title {

    }
    .year {

    }
  }
}

.milestone-container {
  cursor: pointer;
  &:hover {
    background: #161717;
    box-shadow: inset 2px 2px 2px rgba(255, 250, 250, 0.25), inset -2px -2px 2px #000000;
    border-radius: 1em;
  }
  .step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
    .v-stepper {
      position: relative;
      padding-right: 1em;
      display: flex;
      flex-direction: column;
      .circle {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        display: inline-block;
        visibility: visible;
        background-color: rgb(6,150,215);
      }
      .line {
        flex: 1;
        height: 100%;
        margin: auto;
        border-left: 3px solid gray;
      }
    }
  }
}

.videoplayer {
  margin-bottom: 3em;
  &.youtube {
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
    }
    .play-button {
      width: 90px;
      height: 60px;
      background-color: #333;
      box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
      z-index: 1;
      opacity: 0.8;
      border-radius: 6px;
      cursor: pointer;
      &, &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0 );
      }
      &:before {
        content: "";
        border-style: solid;
        border-width: 15px 0 15px 26.0px;
        border-color: transparent transparent transparent #fff;
      }
    }
    .videoContainer {
      iframe {
        height: 450px;
        width: 100%;
        border: 0;
      }
    }
  }
}