.component-container {
  background-color: #161717;
  color: white;
  padding: 2em 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  .title-container {
    margin-bottom: 1em !important;
    .component-title {
      color: white;
      font-family: $heading-font-family !important;
      font-style: italic;
      padding-right: 2em;
      margin-bottom: 0;
    }
    .view-more-link {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .link {
        color: white;
        font-weight: 600;
      }
    }
  }
}

.client-container {
  .component-title {
    text-align: center;
    color: #67758D !important;
    margin-bottom: 1em;
    font-size: 1.75em !important;
    padding: 0 !important;
  }
  .client-logo {
    margin: auto;
    margin-bottom: 2em;
  }
}

.quotes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5em 1em;
  background-color: #1C1D1D;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  .component-title {
    margin-bottom: 1em;
    color: white !important;
  }
  .title {
    font-family: $heading-font-family !important;
    font-style: italic;
  }
  .sub-title {
    margin-top: 0em !important;
    .description {
      padding: 1em;
      color: #9A9C9F !important;
    }
  }
}

.team-container {
  background-color: #1C1D1D;
  .info-container {
    .title {
      font-size: 1.5em;
      margin-top: 1em;
    }
  }
}

.chakras-container {
  background-color: #1C1D1D;
  .chakra-item {
    .chakra-image {
      padding-right: 1em;
      margin: auto;
    }
    .info-container {
      display: flex;
      padding-bottom: 1em;
      .icon-container {
        padding-right: 1em;
        font-size: 2em;
      }
      .info {
        flex: 1;
        .info-tile {
          font-weight: bold;
        }
        .info-description {
          color: #CDCECF;
        }
      }
    }
  }
}

.banner-container {
  .component-title {
    font-size: 4em !important;
    margin-bottom: 0.75em !important;
  }
  .description {
    font-size: 1.25em;
    padding-right: 2em;
    margin-bottom: 1em;
  }
}

.subscribe-container {
  .row {
    padding-bottom: 0 !important;
  }
  .email {
    input {
      background-color: #161717 !important;
      color: white !important;
      border: 1px solid white !important;
    }
  }
}

.blogs-swiper-container, .news-swiper-container, .car-reviews-container {
  .article-container {
    height: 30em;
    display: flex;
    flex-direction: column;
    .info-container {
      height: calc(100% - 200px);
      overflow: hidden;
      .description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
    }
  }
}