@import './bootstrap';
@import '../components/component';
@import '../modules/home/styles/index';
@import '../modules/blogs/styles/index';
@import '../modules/motorSports/styles/index';
@import '../modules/understanding/styles/index';
@import '../modules/updates/styles/index';
@import '../modules/profile/styles/index';
@import '../modules/carReviews/styles/index';
@import '../modules/about/styles/index';
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,500,500i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');

body {
  margin: 0;
  font-family: $font-family !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-color;
}